.product-icon,
.cart {
  font-size: 80px;
  width: 120px;
  height: 120px;
  border: 10px solid #686d76;
  border-radius: 6px;
  color: #686d76;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  cursor: pointer;
}

.product-icon:hover {
  color: #6f4e37;
  border-color: #6f4e37;
  background-color: #f6fab9;
}

.cart {
  color: #dc5f00;
  border-color: #dc5f00;
  background-color: #f6fab9;
}

.badge {
  background-color: #686d76;
}

.badge-delete {
  background-color: #a91d3a;
  cursor: pointer;
}

.badge-total {
  background-color: #dc5f00;
}

.fw-bold {
  text-transform: capitalize;
}
